@model ProcManagement.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Dashboard";
    string blogtitle = "";
}

<style>
    .scroll {
        overflow-x: scroll;
        width: contain;
    }

    td {
        width: 200px;
    }

</style>
<h2>Dashboard - Welcome @Model.SignedInUser.Name</h2>
<hr />



    <div class="row">
        <div class="col-md-3">
            <button onclick="window.location.href='@Url.Action("Action","Entry")'" class="btn btn-primary btn-rounded">
                NEW ENTRY
            </button>
        </div>
        <div class="col-md-3">

            <button onclick="window.location.href='@Url.Action("Index","Entry")'" class="btn btn-primary btn-rounded">
                SAVED DATA
            </button>
        </div>
    </div>





<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });

</script>

